.background-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    .block-form {
        width: 50%;
        background-color: white;
        border-radius: 6px;
        padding: 1.5rem 0 1rem;
        position: absolute;

        .close {
            font-size: 2rem;
            color: var(--orange);
            position: absolute;
            right: 3%;
            top: 0%;
            cursor: pointer;
        }

        form {
            width: 65%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn-tabs {
                display: flex;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 1rem;

                h3 {
                    font-size: 15px;
                    margin: 0 1rem;
                    cursor: pointer;
                }
            }

            .title-reset-pwd {
                margin-top: 1rem;
            }

            .reset-pwd-email {
                margin-top: 1rem;
            }

            .div-field {
                width: 100%;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                position: relative;

                .notice-pwd {
                    font-size: 12px;
                }

                a {
                    position: absolute;
                    right: 0%;
                    top: 0%;
                    font-size: 12px;
                    color: var(--blue);
                    cursor: pointer;
                }

                .groups-field {
                    display: flex;
                    justify-content: space-between;

                    p {
                        width: 48%;
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        input {
                            width: 96%;
                        }

                        span {
                            bottom: -60%;
                        }
                    }
                }

                label {
                    margin-bottom: 5px;
                }

                input {
                    width: 98%;
                    height: 31px;
                    border: 1px solid var(--whitesmoke-500);
                    color: var(--dark);
                    border-radius: 6px;
                    background-color: var(--whitesmoke);
                    font-size: 13px;
                    padding: 0 5px 0 5px;
                    transition: 0.5s;

                    &:focus {
                        box-shadow: 0 0 3px var(--orange);
                        background: none;
                    }
                }

                .span {
                    font-size: 12px;
                    color: var(--orange);
                    position: absolute;
                    bottom: -40%;
                    right: 0%;
                }
            }

           


            .text-foot {
                width: 100%;
                font-size: 12px;

                a {
                    color: var(--blue)
                }
            }

            .btn-submit {
                margin: 10px 0 10px;

                button {
                    background: var(--orange-gradient);
                    font-size: 14px;
                    color: white;
                    border: none;
                    height: 31px;
                    width: 120px;
                    border-radius: 4px;
                }
            }
        }
    }
}

.reset-pwd-form {
    background-color: white !important;
}