@import "../../../../globals/mixins.scss";

.order-dashboard-buyer {
    width: 100%;
    height: 100%;
    ;

    .orders {
        height: 90%;
        border-radius: 6px;
        padding: 12px 12px 0 12px;
        background-color: white;
        border-radius: 6px;

            
        @include tablet {
        
                .table-data {
                    width: 1000px !important;
                }
            
        }
    }
}