@import "../globals/mixins.scss";

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

*,
::after,
::before {
    margin: 0%;
}

body {
    width: 100%;
    background-color: var(--whitesmoke-500);
    font-family: 'Poppins';
    overflow-x: hidden;
    
}

.parent-body {
    width: 100%;
    background-color: white;

    @media screen and (min-width: "1375px") {
        width: 1400px;
        margin: auto;
        
    }
}

.body-page {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
}

.section {
    width: 100%;
    margin-bottom: 3rem;
}

.title-section {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
    width: max-content;
    color: var(--dark)
}

.title-section span {
    margin-left: 1rem;
    font-weight: 400;
    font-size: 13px;
}

.section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 13px;
    border: none !important;
}

p, label {
    font-size: 13px;
    color: var(--dark);
}


.d-none {
    justify-content: space-between;
}

select,
button,
input {
    outline: none;
}

button {
    cursor: pointer;
}

.show {
    height: max-content !important;
    overflow: auto !important;
}

.active {
    color: var(--orange);
}

.hide {
    height: 0vh;
    overflow: hidden;
}

.learn-more {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    button {
        border: none;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        padding: 6px 0 6px;
        background-color: var(--whitesmoke);

        svg {
            margin-left: 5px;
        }
    }
}


.select-size {
    background: var(--orange-transparent) !important;
    border: 1px solid var(--orange);
    color: var(--orange) !important;
    padding: 0 5px 0 5px;
    font-size: 18px !important;
}

.select-color {
    height: 30px !important;
    width: 30px !important;
}

.active-sublink {
    color: var(--orange) !important;
    &::before {
        background-color: var(--orange) !important;
    }
}

.active-sublink {
    color: var(--orange) !important;
    &::before {
        background-color: var(--orange) !important;
    }
}



.active-categorie {
    color: var(--orange) !important;
}

.before-class-style {
    &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        right: 0%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--whitesmoke-500);
    }

    &:hover {
        &::before {
            background-color: var(--orange);
        }
    }
}

.radio-select {
    &::before {
        content: "";
        position: absolute;
        background-color: var(--orange);
        height: 70%;
        width: 70%;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.active-tabs-label {
    color: var(--orange);
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 30px;
        background-color: var(--orange);
    }
}

@keyframes dongle {
    0% {
        transform: translate(10px, 0);
    }
    10% {
        transform: translate(0px, 0);
    }
    20% {
        transform: translate(10px, 0);
    }
    30% {
        transform: translate(0px, 0);
    }
    40% {
        transform: translate(10px, 0);
    }
    50% {
        transform: translate(0px, 0);
    }
    60% {
        transform: translate(10px, 0);
    }
    70% {
        transform: translate(0px, 0);
    }
    80% {
        transform: translate(10px, 0);
    }
    90% {
        transform: translate(0px, 0);
    }
    100% {
        transform: translate(10px, 0);
    }
}

.title-h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.2rem;
    color: var(--dark);
    border-bottom: 1px solid var(--whitesmoke-500);
}


.table-data {
    width: 100%;
    height: max-content;
    thead {
        width: 100%;
        background-color: var(--whitesmoke-500);
        tr {
            height: 30px;
            th {
                height: 100%;
                font-size: 13px;
                font-weight: 400;
            }
        }
    }

    tbody {
        width: 100%;
        tr {
            &:nth-child(even) {
                border-bottom: 1px solid var(--whitesmoke-900);
            }
            td {
                height: 40px;
                font-size: 12px;
                padding: 6px;
                text-align: center;
                border-bottom: 1px solid var(--whitesmoke-500) !important;

                &:nth-child(3) {
                    width: 35%;
                }

                &:last-child {
                    text-align: center;

                    button {
                        background: none;
                        border: none;
                        margin: 0 12px;
                        svg {
                            font-size: 15px;
                            color: var(--orange);
                        }

                        &:last-child {
                           svg {
                             color: red;
                           }
                        }
                    }
                }
            }
        }
    }

    @include tablet {
        width: 100% !important;
    }
}

.active-menu {
    background: var(--whitesmoke-900);
    color: white !important;
}

.show-sub-menu {
    display: block;
}

.parent {
    width: 97.2% !important;
    height: max-content;
    border-radius: 6px;
    box-shadow: 0 0 15px var(--box-shadow);
    background-color: white;
    padding: 10px;
    padding-bottom: 2rem !important;

    @include tablet {
        overflow-x: scroll;
    }
}

.child {
    @include tablet {
        width: 1000px !important;
        
    }
}

.z-index {
    z-index: 0;
}

.bg-white {
    background-color: white;
}

.table {
    width: 100%;

    @include tablet {
        overflow-x: scroll;
    }
}