:root {
	--dark: #1a1919;
	--dark-900: #0d0c0a;
	--dark-500: #1e1c19;
	--dark-300: #41403d;
	--white-300: #f3eaea;
	--white-400: #cfc3c3;
	--white-200: #f2f2f2;
	--white: #ffffff;
	--orange-400: #eebc00;
	--blue: rgb(133, 133, 223);
	--blue2: #1d0077;
	--blue-hover: #5a3fac;
	--violet: rgb(71, 22, 149);
	--blue-100: #f4f7fc;
	--red: #fd0000;
	--red-transparent: #fd00003f;
	--green: #3bcf01;
	--blues: #48a1dd;
	--yellow: #ffb91f;
	--green-200: #85e89f;
	--red-hover: rgb(210, 52, 52);
	--dark-hover: rgb(55, 52, 52);
	--blue-gradient: linear-gradient(-180deg, #1d0077 2%, #efeffa 90%);
	--dark-gradient: linear-gradient(-180deg, #231f23 2%, #efeffa 90%);
	--chocolate-gradient: linear-gradient(-185deg, #380103 2%, #efeffa 90%);
}
