:root {
    --dark: #1a1919;
    --dark-500: #1E1C19;
    --dark-300: #41403d;
    --white-300: #f3eaea;
    --white: #ffffff;
    --orange-400:#EEBC00;
    --blue: rgb(133, 133, 223);
    --blue2: #1D0077;
    --violet: rgb(71, 22, 149);
    --red: #fd0000;
    --green: #3BCF01;
    --blues: #48A1DD;
    --yellow: #FFB91F;
    --green-200: #85E89F;
    --red-hover: rgb(210, 52, 52);
    --blue-gradient: linear-gradient(-180deg,  #1D0077 2%, #efeffa 90%);
    --dark-gradient: linear-gradient(-180deg,  #231F23 2%, #efeffa 90%);
};