:root {
    --brown-color: #474246;
    --deep-brown: #453B3B;
    --text-color: #453B3B;
    --whitesmoke: #f5f5f5;
    --whitesmoke-500: #dddddd;
    --dark: #453B3B;
    --orange: #D45D01;
    --red-gradient: linear-gradient(167.2deg, #f80d1d -241.39%, rgba(202, 0, 15, 0.69) 140.72%);
    --orange-gradient: linear-gradient(111deg, #D45D01, #F5AD49 118.54%);
    --smoke-gradient: linear-gradient(180deg, #ebebeb, 20%, #ffffff);
    --smoke-inverse-gradient: linear-gradient( #ffffff, #ebebeb);
}