.box-cart {
    position: absolute;
    background-color: white;
    top: 100%;
    right: 0%;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px var(--dark);
    z-index: 1;
    border-radius: 5px;

    .cart-empty {
        width: 90%;
        margin: auto;
        font-size: 14px;
        color: var(--whitesmoke-900);
        padding: 10px 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
            font-size: 25px !important;
            color: var(--whitesmoke-900);
        }
    }

    h2 {
        font-size: 18px;
        font-weight: 500;
        color: var(--dark);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--whitesmoke-500);
        background: var(--whitesmoke);
        margin-bottom: 8px;

        span {
            font-size: 25px;
            margin-right: 10px;
            cursor: pointer;

            &:nth-child(1) {
                display: flex;
                align-items: center;
                font-size: 16px;
                margin-left: 1rem !important;

                svg {
                    font-size: 18px;
                    margin-right: 5px;
                }
            }
        }
    }

    .p {
        font-size: 13px;
        margin: 5px 0 1rem 10px;
        width: 90%;
        display: flex;
        justify-content: space-between;

        button {
            background-color: var(--dark) !important;
            border: none;
            border-radius: 5px;
            background-color: var(--orange);
            color: white !important;
            font-size: 13px;
            padding: 0 8px 0 px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .bloc-prod {
        height: 60vh;
        width: 100%;
        margin: auto;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            background-color: var(--whitesmoke-500);
            width: 8px;
            border-radius: 30px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--dark);
            border-radius: 30px;
        }

        .items {
            width: 99%;
            display: flex;
            flex-direction: column;
            padding: 0px 0 5px !important;
            margin-bottom: 1rem;
            border: 1px solid var(--whitesmoke-500);

            .shop-name {
                width: 100%;
                padding: 5px 0 5px;
                display: flex;
                align-items: center;
                background-color: var(--whitesmoke-500);
                color: var(--dark) !important;
                margin-bottom: 10px;

                svg {
                    font-size: 16px;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .bls {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 90px;
                    margin-left: 10px;
                }

                &:nth-child(odd) {
                    background-color: var(--whitesmoke);
                }

                .info {
                    width: 55%;
                    margin-right: 5px;
                    position: relative;

                    h4 {
                        width: 90%;
                        font-weight: 400;
                        font-size: 12px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    b {
                        font-size: 16px;
                        color: var(--dark);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        margin-left: 0%;
                        margin-top: 10px;

                        div {
                            display: flex;

                            button {
                                border: 1px solid var(--whitesmoke-500);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                background-color: var(--dark);
                                width: 25px;
                                height: 25px;

                                svg {
                                    color: white;
                                    font-size: 12px;
                                }
                            }

                            span {
                                font-size: 14px;
                                margin: 0 12px;
                            }
                        }


                    }

                    .color,
                    .size {
                        margin: 0% !important;

                        b {
                            font-size: 12px;
                            margin-left: 10px;
                        }
                    }

                    .qty {
                        display: flex;
                        width: max-content;
                        align-items: center;

                        .label-qty {
                            display: none;
                        }
                    }

                    .btn-trash {
                        background: none;
                        margin-left: 3rem;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        bottom: 1%;
                        right: 3%;

                        span {
                            display: none;
                        }

                        svg {
                            margin-right: 5px;
                            color: var(--dark);
                            font-size: 17px !important;
                        }

                    }

                    .shiping-infos {
                        display: none;

                        b {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}