.section-prod {
    display: flex;
    flex-direction: column;

    .groups-cards-product {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cards {
            width: 38%;
            height: 200px;
            border-radius: 6px;
            background-color: var(--whitesmoke-500);
            display: flex !important;
            justify-content: space-around;
            align-items: center;

            &:nth-child(1) {
                width: 22%;
                display: block !important;
                background: var(--red-gradient) !important;
                align-items: center;
                justify-content: center;

                h3 {
                    font-size: 17px;
                    font-weight: 500;
                    color: white;
                    margin: 10px 0 10px 1rem;
                }

                .slider-prods {
                    padding-top: 12px;
                    margin: auto;
                    width: 70%;
                    height: 60%;
                    border-radius: 6px;
                    background-color: white;

                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            margin: auto;
                            animation: anim infinite 2s linear;
                        }

                        @keyframes anim {
                            from {
                                transform: scale(1);
                            }

                            to {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}