@import "../../globals/mixins.scss";

    .order-cart {
        width: 30%;
        height: max-content;
        background-color: white;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 2px var(--whitesmoke-500);
        padding-bottom: 10px;

        h2 {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            padding: 6px 0 6px;
            color: white;
            background: var(--orange);
            margin-bottom: 1.2rem;
        }

        .infos-order {
            width: 100%;
            padding: 0% !important;
            margin-bottom: 1rem;

            p {
                width: 90%;
                margin: auto;
                font-size: 14px;
                margin-bottom: 12px;

                b {
                    font-size: 16px;
                    margin-left: 1rem;
                }


                &:last-child {
                    width: 90%;
                    margin-top: 1.5rem;

                    button {
                        border-radius: 3px;
                        margin: auto !important;
                        width: 100%;
                        height: 35px;
                        font-size: 16px;
                        background: var(--orange-gradient);
                        color: white;
                        border: none;
                    }
                }
            }
        }

        .moyen-pay {
            margin-top: 10px !important;
            img {
                margin: 0 4px !important;
            }
        }

        @include tablet {
            width: 400px;
        }

        @include phone {
            width: 80%;
        }
    }