@import "../../globals/mixins.scss";

.section-five {
    display: flex;
    justify-content: space-between;
    height: 400px;

    .div-left,
    .div-right {
        height: 100%;
    }

    .div-left {
        position: relative;
        padding: 10px;
        width: 29%;
        border-radius: 6px;
        background: var(--orange-gradient);
        overflow: hidden;

        h3 {
            font-size: 24px;
            font-weight: 400;
            color: white;
            margin: 1rem 0 2rem;
        }

        .band {
            width: 80%;
            height: 17%;
            transform: rotate(40deg);
            position: absolute;
            top: -9%;
            right: -30%;
            box-shadow: 0 0 5px var(--dark);
            background: var(--smoke-inverse-gradient);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--orange);
        }

        .slider {
            width: 75%;
            height: 55%;
            margin: auto;
            background: #ffffff;
            border-radius: 6px;

            div {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center !important;
                padding: 0 !important;

                img {
                    margin: 3rem auto;
                    width: 120px;
                    height: 120px;
                    transition: 0.7s;
                    animation: boom 3s infinite;
                }

                @keyframes boom {
                    from {
                        transform: scale(1);
                    }

                    to {
                        transform: scale(1.2);
                    }
                }
            }
        }

        @include tablet {
            display: none;
        }
    }

    .div-right {
        width: 68%;
        height: 100%;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 18px;
            font-weight: 400px !important;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: space-between;

            span {
                a {
                    color: var(--dark);
                    display: flex;
                    align-items: center;
                    font-size: 15px;

                    svg {
                        margin-left: 10px;
                    }
                }
            }
        }

        .div-product {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            .div-img {
                width: 100%;
                height: 130px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                background: var(--smoke-gradient);
                padding: 1.6rem 0 10px;
                position: relative;

                img {
                    height: 65%;
                    width: 55%;
                }

                h5 {
                    font-size: 12px;
                    font-weight: 400;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background-color: var(--orange);
                    position: absolute;
                    top: 2%;
                    right: 2%;
                }

                h4 {
                    width: 90%;
                    height: max-content !important;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--dark);
                    margin-top: 1rem;
                }

                b {
                    font-size: 14px;
                    color: var(--dark);
                    color: var(--orange);
                }
            }

            @include small {
                grid-template-columns: repeat(2,1fr);
            }
        }

        @include tablet {
            width: 100%;
        }
    }

    @include tablet {
        height: max-content;
    }
}