@import "../../../globals/mixins.scss";

.dashboard-seller-home {
    width: 100%;
    height: 100vh !important;
    overflow: hidden;

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--whitesmoke);


        .main-center {
            border: 1px solid;
            padding-bottom: 2rem;
            height: max-content;
            display: flex;
            justify-content: space-between;

            .nav-bar {
                width: 210px;
                height: 100vh;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-top: 0px;
                background: white;
                box-shadow: 0 5px 5px var(--dark);
                position: relative;

                .logo {
                    width: 100%;
                    padding: 5px 0 5px;
                    margin-bottom: 12px;

                    background: url(../../../assets/images/svg/back.svg);
                    background-color: white;

                    img {
                        width: 120px;
                        margin-left: 12px;
                    }
                }

                .shop {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 0 4px;
                    margin-top: 12px;
                    //border-top: 1px solid var(--whitesmoke-500);
                    //border-bottom: 1px solid var(--whitesmoke-500);

                    h4 {
                        font-size: 14px;
                        font-weight: 500;
                        width: 70%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    svg {
                        font-size: 18px;
                        margin-right: 8px;
                    }
                }

                .btn-change-shop {
                    width: 70%;
                    border: none;
                    border-radius: 30px;
                    //border-bottom: 1px solid var(--whitesmoke-500);
                    padding: 6px 0 6px;
                    margin-top: 5px;
                    color: white;
                    background: var(--red-gradient2);

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .switch-role {
                    width: 70%;
                    height: 26px;
                    background-color: var(--whitesmoke-500);
                    border-radius: 30px;
                    overflow: hidden;

                    button {
                        height: 100%;
                        width: 50%;
                        border: none;
                        border-radius: 30px;
                        font-size: 12px;
                        color: var(--dark);
                        background: none;

                        &:nth-child(2) {
                            background: var(--orange-gradient);
                            color: white;
                        }
                    }
                }

                .nav {
                    width: 100%;
                    margin-top: 1rem;

                    .bar {
                        height: 1px;
                        width: 100%;
                        background-color: var(--whitesmoke-500);
                        margin: 5px 0 5px;
                    }

                    .nav-ul {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        cursor: pointer;
                        width: 100%;
                        padding: 0%;
                        padding-bottom: 0% !important;

                        .link-p {
                            color: var(--dark);
                            padding: 8px 0 8px 10px;
                            width: 95%;
                            height: max-content;
                            display: flex;
                            align-items: center;
                            position: relative;
                            justify-content: space-between;

                            span {
                                display: flex;
                                align-items: center;
                                font-size: 14px;

                                svg {
                                    font-size: 17px;
                                }
                            }

                            svg {
                                font-size: 15px;
                                margin-right: 10px;
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                height: 100%;
                                width: 5px;
                                background: var(--red-gradient2);
                                top: 0%;
                                left: 0;
                                border-radius: 30px;
                                display: none;
                            }

                            &:hover {
                                &::before {
                                    display: block;
                                }
                            }
                        }

                        .sub-ul {
                            width: 100% !important;
                            padding: 0%;
                            padding-left: 0%;
                            padding-bottom: 0% !important;
                            background-color: var(--whitesmoke-500);

                            li {
                                padding: 7px 0 7px 12px;
                                font-size: 13px;
                                width: 94%;
                                margin-bottom: 0% !important;
                                color: var(--dark);

                                &:hover {
                                    color: var(--orange);
                                }
                            }
                        }
                    }
                }

                .footer {
                    position: absolute;
                    bottom: 1%;

                    p {
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                @include tablet {
                    transition: 0.1s;
                    width: 0;
                    overflow: hidden;
                }
            }

            .body {
                width: 84.5%;
                height: 98%;
                position: relative;
                padding-bottom: 0rem;
                border: 1px solid;
                overflow-y: scroll;

                .content-body {
                    position: absolute;
                    width: 100%;
                    height: max-content;
                    z-index: 2;
                    padding-bottom: 5rem;

                    .head {
                        display: flex;
                        justify-content: space-between;
                        margin: auto;
                        width: 95%;
                        background: var(--red-gradient2);
                        padding: 6px 10px 6px 10px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

                        h3 {
                            font-size: 16px;
                            font-weight: 500;
                            color: white;
                            font-style: italic;
                        }

                        li {
                            font-size: 13px;
                            color: white;
                            display: flex;
                            align-items: center;

                            &:nth-child(1) {
                                svg {
                                    font-size: 18px;
                                    margin-right: 12px;
                                    cursor: pointer;
                                    display: none;
                                }
                            }

                            span {
                                margin: 0 5px;
                            }

                            svg {
                                font-size: 18px;
                            }
                        }

                        @include phone {
                            h3 {
                                font-size: 14px;
                            }
                        }

                        @include tablet {
                            width: 100%;
                            border-bottom-left-radius: 0%;
                            border-bottom-right-radius: 0%;

                            li {
                                &:nth-child(1) {
                                    svg {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    .block-content {
                        padding-bottom: 3rem;
                        width: 96%;
                        margin: 1rem auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 82vh !important;

                        .slider-prods {
                            width: 100%;
                            height: 120px;
                            border: 1px solid;
                            margin-bottom: 1rem;
                        }

                        @include tablet {
                            width: 93%;
                        }
                    }
                }

                @include tablet {
                    width: 100%;
                }
            }
        }
    }
}