
.card-prod {
    width: 90%;
    margin: auto;
    border: 1px solid var(--whitesmoke-500);
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--smoke-gradient);
    overflow: hidden;

    .band {
        width: 80%;
        height: 17%;
        transform: rotate(40deg);
        position: absolute;
        top: -9%;
        right: -30%;
        background: var(--smoke-gradient);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--orange);
    }
    .card-head {
        width: 100%;
        background-color: var(--whitesmoke);
        border-bottom: 1px solid var(--whitesmoke-500);
        padding: 7px 0 7px;
        color: var(--dark);
        font-size: 15px;
        display: flex;
        align-items: center;

        i {
            margin: 0 10px;
            font-size: 15px;
        }

        svg {
            margin-right: 5px;
            font-size: 20px;
        }
    }

    
    .btn-add {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--orange);
        color: white;
        padding: 6px;
        border-radius: 5px;
        width: 130px;

        svg {
            font-size: 20px;
        }

        &:nth-child(2) {
            background: none;
            color: white;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .fond {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .img {
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60%;
        }
    }

    &:hover {
       .fond {
         display: flex;
       }
    }

    .foot {
        border-top: 1px solid var(--whitesmoke-500);
        width: 100%;
        padding: 12px 0 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
            font-size: 14px;
            color: var(--dark);
        }

        b {
            font-size: 20px;
            color: var(--orange);
        }

        .btn-add {
            display: none;
            margin-top: 10px;
        }
    }
}
