@import "../../globals/mixins.scss";

header {
    width: 100%;
    background-color: white;
    height: max-content;

    .head-div2,
    .head-div1,
    .head-div3 {
        width: 100%;
        margin: auto;
        display: flex;
    }

    .head-div1 {
        border-bottom: 1px solid var(--whitesmoke-500);
        justify-content: space-between;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: var(--whitesmoke);

        ul {
            display: flex;
            .user-account {
                position: relative;

                i {
                    margin-right: 8px;
                }

                &:hover {
                    .box-account {
                        display: flex;
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }

            .shop {
                background: white;
                padding: 4px;
                border-radius: 4px;

                a {
                    color: var(--dark);

                }
            }

            &:nth-child(2) {
                margin-right: 2rem;
                margin-left: 1rem;

                @include phone {
                    margin-right: 1rem;
                }
            }

            &:nth-child(1) {
                margin-left: 2rem;
                padding-left: 0%;

                li {
                    margin-right: 1rem;

                    &:nth-child(1) {
                        margin-left: 0% !important;
                    }
                }

                @include phone {
                    display: none;
                    margin-left: 0% !important;
                }
            }

            div {
                background-color: var(--whitesmoke-500);
                height: 100%;
                width: 1px;
                margin: 0 14px;
            }

            li {
                display: flex;
                align-items: center;

                a {
                    font-size: 12px;
                    color: var(--dark);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 15px;
                        margin-right: 2px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            @include phone {
                a {
                    svg {
                        font-size: 13px !important 
                    }
                }

                div {
                    margin: 0 8px;
                }
            }

        }

        @include phone {
            justify-content: end;
        }
    }

    .head-div2 {
        background: url(../../assets/images/svg/back2.svg);
        background-repeat: repeat-x;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.8rem 0 1.8rem;

        .div2 {
            width: 100%;
            display: flex;
            justify-content: space-between !important;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                svg {
                    display: none;
                    font-size: 1.5rem;
                }

                .logo-link {
                    margin-left: 2rem;
                    img {
                        width: 120px;
                    }
                }
            }

            .title-page {
                font-size: 20px;
                font-weight: 500;
            }

           

            a {
                i {
                    color: var(--dark);
                }
            }

            .div-shop-name {
                border-left: 1px solid var(--whitesmoke-900);
                border-right: 1px solid var(--whitesmoke-900);
                padding: 0 1rem 0 1rem;

                h1 {
                    font-size: 20px;
                }

                p {
                    display: flex;
                    align-items: center;
                    margin-top: 1px;
                    font-size: 12px !important;

                    i {
                        margin-right: 5px;
                    }

                    &:nth-child(2) {
                        .followers {
                            border-left: 1px solid var(--whitesmoke-900);
                            border-right: 1px solid var(--whitesmoke-900);
                            padding: 0 8px 0 8px;
                            margin-left: 10px;
                        }

                        .btn-follo {
                            border: none;
                            margin-left: 10px;
                            background-color: var(--dark);
                            color: white;
                            border-radius: 30px;
                            padding: 0 10px 0 10px;
                            height: 20px;
                        }
                    }

                    &:nth-child(3) {
                        button {
                            background: none;
                            color: var(--orange);
                            padding: 0 12px 0 12px;
                            height: 20px;
                            margin-left: 0px;
                            border: none;
                            font-size: 12px;
                        }
                    }
                }
            }

            .div2-child {
                display: flex;
                align-items: center;
                width: 70%;

                .search-bar-shop {
                    margin-right: 1rem;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    border: 1px solid var(--orange);

                    input {
                        width: 450px;
                        height: 100%;
                        background-color: white;
                        padding: 0 10px 0 10px;
                        font-size: 13px;
                        color: var(--dark);
                        border: none;
                    }

                    button {
                        height: 100%;
                        background: var(--orange-gradient);
                        color: white;
                        font-size: 14px;
                        padding: 0 12px 0 12px;
                        border: none;
                    }
                }

                .div-right {
                    display: flex;
                    align-items: center;
                    float: right;
                    width: max-content !important;
                    margin-right: 2rem;

                    .shop {
                        border-left: 1px solid var(--orange);
                        border-right: 1px solid var(--orange);
                        padding: 3px 10px 3px 10px;
                        margin: 0 1rem;
                        margin-left: 2rem;

                        a {
                            font-size: 13px;
                            font-weight: 500;
                            color: var(--orange);
                            margin: 0%;
                        }
                    }

                    .name {
                        display: none;
                        align-items: center;
                        justify-content: center;
                        height: 21px;
                        position: absolute;
                        bottom: -70%;
                        right: 0%;
                        background: white;
                        border-radius: 3px;
                        padding: 0 10px 0 10px;
                        box-shadow: 0 0 3px var(--dark);
                    }

                    a {
                        width: max-content;
                        display: flex;
                        align-items: center;
                        flex-direction: column !important;
                        margin: 0 1rem;
                        color: var(--dark);
                        position: relative;

                        svg {
                            font-size: 25px;
                            margin-bottom: 3px;
                        }

                        .nb-product {
                            position: absolute;
                            left: 110%;
                            top: -60%;
                            font-size: 15px;
                        }

                        &:hover {
                            color: var(--orange) !important;

                            i {
                                color: var(--orange);
                            }

                            span {
                                &:not(:first-child) {
                                    display: flex;
                                }
                            }
                        }
                    }

                    button {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background: none;
                        border: none;
                        position: relative;
                        color: var(--dark);

                        svg {
                            margin-bottom: 3px;
                            font-size: 30px;
                        }

                        .nb-product {
                            position: absolute;
                            left: 90%;
                            top: -30%;
                            font-size: 16px;
                        }

                        &:hover {
                            color: var(--orange);

                            .name {
                                display: flex;
                            }
                        }
                    }

                    .cart-divs {
                        margin-left: 1rem;
                        position: relative;

                        .card-cart {
                            display: none;
                        }

                        &:hover {
                            .card-cart {
                                display: block;
                            }
                        }
                    }

                    .user-account {
                        img {
                            width: 14px;
                        }
                    }


                    @include tablet {
                        a {
                            svg {
                                font-size: 20px;
                            }
                        }

                        button {
                            svg {
                                font-size: 22px;
                            }
                        }
                    }

                    @include phone {
                        li {
                            border: 1px solid;
                            display: none !important;
                        }
                    }

                }

                @include tablet {
                    width: max-content;
                }
            }

            @include phone {
                li {
                    margin-left: 1rem;
                    align-items: center;
                    svg {
                        display: block;
                        cursor: pointer;
                    }

                    .logo-link {
                        padding: 0%;
                        margin-left: 10px;

                        img {
                            width: 110px;
                            margin-top: 5px;
                        }
                    }
                }

                
            }

        }

        .form-search {
            display: flex;
            align-items: center;
            height: 28px;
            width: 100%;
            border: 1px solid var(--orange);
            background-color: white;

            select {
                color: var(--dark);
                height: 70%;
                font-size: 12px;
                padding: 0 5px 0 5px;
                background: none;
                border: none;
                border-right: 1px solid var(--orange);
                position: relative;
            }

            input {
                color: var(--dark);
                width: 75%;
                border: none;
                font-size: 12px;
                padding: 0 10px 0 10px;
                background: none;

                &::placeholder {
                    color: var(--dark);
                }
            }

            button {
                height: 100%;
                background-color: var(--orange);
                color: white;
                font-size: 12px;
                border: none;
                padding: 0 10px 0 10px;
            }

            @include tablet {
                display: none;
            }
        }

        .div-search-phone {
            width: 90%;
            margin-top: 1rem;
            display: none;

            .form-search {
                display: flex;
                border-radius: 30px;
                overflow: hidden;

                input {
                    width: 90%;
                }
            }

            @include tablet {
                display: block;
            }
        }
    }

    .head-div3 {
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--whitesmoke-500);
        border-bottom: 1px solid var(--whitesmoke-500);
        height: 33px;

        .close-x {
            display: none;
        }
        .div-left,
        .div-right {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .div-left {
            position: relative;
            margin-left: 2rem;

            .li-drop-cat {
                height: max-content !important;
            }

            li {
                margin: 0 12px;

                .link {
                    color: var(--dark);
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0%;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 0%;
                        height: 1px;
                        transition: 0.4s;
                        background-color: var(--orange);
                    }
                }

                .div-sub-link {
                    display: none;
                    background: white;
                    width: 100%;
                    height: 300px;
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    padding: 10px 0 10px;
                    border: 1px solid var(--whitesmoke-500);

                    ul {
                        display: flex;
                        flex-direction: column;
                        width: 190px;
                        height: 100%;
                        border-right: 1px solid var(--whitesmoke-500);
                        position: relative;

                        h3 {
                            font-size: 14px;
                            color: var(--dark);
                            margin-bottom: 5px;
                            padding-left: 5px;
                        }

                        li {
                            width: 100%;
                            margin-left: 0%;

                            .title-link {
                                font-size: 12px;
                                padding: 5px;
                                padding-right: 0%;
                                position: relative;
                                width: 97% !important;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 50%;
                                    right: 7%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-color: var(--whitesmoke);

                                }

                                &:hover {
                                    &::before {
                                        background-color: var(--orange);
                                    }

                                    .sublink {
                                        display: grid;
                                    }
                                }
                            }

                            .title-link:hover~.sublink {
                                display: grid;
                            }

                            .sublink {
                                width: 260%;
                                height: 92%;
                                position: absolute;
                                top: 5%;
                                left: 105%;
                                background-color: white;
                                display: none;
                                grid-template-columns: repeat(2, 1fr);
                                row-gap: 1rem;

                                div {
                                    display: flex;
                                    flex-direction: column;

                                    h3 {
                                        margin-bottom: 2px;
                                    }

                                    a {
                                        color: var(--dark);
                                        padding: 1px 0px 1px 5px;

                                        &:hover {
                                            color: var(--orange);
                                        }
                                    }
                                }
                            }

                            &:nth-child(1) {
                                .sublink {
                                    display: grid;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .link {
                        color: var(--orange);

                        &::before {
                            width: 100%;
                        }
                    }

                    .div-sub-link {
                        display: block;
                    }
                }
            }
        }

        .div-right {
            width: max-content;
            margin-right: 2rem;

            .li {
                position: relative;
                padding: 0 5px 0 5px;

                span {
                    font-size: 13px;

                    svg {
                        &:nth-child(2) {
                            font-size: 10px;
                            margin-left: 4px;
                        }
                    }
                }

                .lang {
                    display: none;
                    width: 260px;
                    position: absolute;
                    right: 0%;
                    top: 100%;
                    background-color: var(--whitesmoke);
                    border-top: none;
                    border-bottom: 1px solid var(--whitesmoke-500);
                    border-left: 1px solid var(--whitesmoke-500);
                    border-right: 1px solid var(--whitesmoke-500);
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    padding: 1rem;

                    p {
                        font-size: 12px;
                        margin-bottom: 10px;
                    }

                    .div-select {
                        height: 26px;
                        border-radius: 5px;
                        width: 100% !important;
                        border: 1px solid var(--whitesmoke-500);
                        position: relative;

                        .child1 {
                            color: var(--dark);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            span {
                                display: flex;
                                align-items: center;
                                font-size: 12px;
                                margin-left: 5px;
                            }

                            i,
                            svg {
                                margin-right: 5px;
                                font-size: 13px;
                            }
                        }

                        .child2 {
                            position: absolute;
                            top: 100%;
                            left: 0%;
                            width: 100%;
                            background-color: white;
                            border: 1px solid var(--whitesmoke-500);
                            display: none;
                            flex-direction: column;
                            padding-top: 5px;
                            padding-bottom: 5px;

                            a {
                                display: flex;
                                align-items: center;
                                color: var(--dark);
                                width: 100%;
                                padding: 3px 0 3px;
                                margin-left: 5px;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 50%;
                                    right: 3%;
                                    background-color: var(--whitesmoke-500);
                                    display: none;
                                }

                                i,
                                svg {
                                    margin: 0 5px;
                                }



                                &:hover {
                                    &::before {
                                        display: block;
                                    }
                                }

                                &:hover {
                                    background-color: var(--whitesmoke);
                                }
                            }
                        }

                        &:hover {
                            .child2 {
                                display: flex;
                            }
                        }

                    }
                }

                &:nth-child(3) {
                    .lang {
                        .div-select {
                            .child2 {
                                height: 150px;
                                overflow-y: scroll;
                                overflow-x: hidden;
                            }
                        }
                    }
                }

                &:hover {
                    background: var(--whitesmoke);
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-top: 1px solid var(--whitesmoke-500);
                    border-bottom: 1px solid var(--whitesmoke-500);
                    border-left: 1px solid var(--whitesmoke-500);
                    border-right: 1px solid var(--whitesmoke-500);

                    .lang {
                        display: block;
                    }

                }
            }

            .bar {
                height: 80%;
                width: 1px;
                background-color: var(--whitesmoke-500);
                margin: 0 10px;
            }
        }

        @include phone {
            position: fixed;
            width: 0vh;
            overflow: hidden;
            height: 100%;
            top: 0%;
            left: 0%;
            background-color: white;
            z-index: 5000;
            justify-content: start;
            align-items: start;
            flex-direction: column;

            .close-x {
                position: absolute;
                right: 2%;
                color: var(--dark);
                font-size: 2rem;
                cursor: pointer;
            }

            .div-left {
                width: 90%;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                margin-left: 0%;
                height: max-content;
                margin-top: 1rem;
                position: relative;

                .li-drop-cat {
                    background: none;
                    width: 100%;
                    border-right: 0;
                    padding-right: 0%;
                    height: max-content !important;
                
                    svg {
                        margin-left: 0%;
                    }

                    .box-categorie {
                        width: 80% !important;
                        li {
                            width: 100%;
                            padding: 2px 0 2px 0%;
                        }
                    }
                }

                li {
                    width: 100%;
                    padding-left: 2rem;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    font-size: 14px !important;
                    margin-bottom: 12px;

                    .link {
                        
                        width: 100% !important;
                    }

                    a {
                        font-size: 14px !important;
                    }
                }
            }

            .div-right {
                flex-direction: column;
                align-items: center;
                justify-content: start;
                margin-left: 12px;
                height: max-content;
                margin-right: 0%;

                li {
                    margin-bottom: 12px;

                    span {
                        font-size: 14px;
                    }

                    .lang {
                        left: 0%;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .nav-bar-shop {
        background: url(../../assets/images/svg/back2.svg);
        height: 36px;
        display: flex;
        align-items: center;
        background-color: var(--dark);

        li {
            margin-right: 1.8rem;
            display: inline-block;

            a {
                color: white;
            }
        }

        .li-drop-cat {
            border-right: none !important;
            display: flex !important;
            align-items: center !important;
            height: 100% !important;
            background: none;
            color: white;
            padding-top: 2px;
            padding-right: 0% !important;

            svg {
                font-size: 20px !important;

                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }
}