@import "../../../../globals/mixins.scss";

.product-dashboard-buyer {
    width: 100%;
    

    .product-box {
        
        .btn-add-product {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 2px 0 1.2rem;

            p {
                margin-left: 1rem;
            }
            button {
                display: flex;
                align-items: center;
                height: 34px;
                font-size: 14px;
                padding: 0 1rem 0 1rem;
                border: none;
                background: var(--red-gradient2);
                color: white;
                border-radius: 4px;
                box-shadow: 0 10px 10px var(--box-shadow);

                svg {
                    margin-right: 6px;
                }

                &:hover {
                    box-shadow: none;
                }
            }

            @include tablet {
                position: absolute;
                width: 90%;

                p,
                button {
                   margin-bottom: 5rem;
                }
            }
        }

        .list-product {
            width: 100%;

            @include tablet {
                overflow-x: scroll;
                padding-top: 3rem;
            }
            .table-data {
                tbody {
                    tr {
                        td {
                            width: 10%;

                             &:nth-child(1) {
                                width: 5%;
                            }

                            &:nth-child(4),
                            &:nth-child(5),
                            &:nth-child(6) {
                                width: 4% !important;
                            }

                            &:last-child {
                                width: 16%;
                            }

                            button {
                                display: inline-block;
                                align-items: center;
                                margin: 4px 4px 4px 4px;
                                font-size: 12px;
                                color: white;
                                border-radius: 5px;

                                svg {
                                    color: white !important;
                                }

                                &:nth-child(1) {
                                    background: rgb(51, 198, 51);
                                }
                                &:nth-child(2) {
                                    background: var(--orange);
                                }
                                &:nth-child(3) {
                                    background: rgb(249, 55, 55);
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

.add-product-form {
    width: 100%;

    .block-form-product {
        background-color: white;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        padding-bottom: 2rem;
        box-shadow: 0 0 15px var(--box-shadow);

        .form {
            width: 100%;

            form {
                overflow: hidden;

                h3 {
                    font-size: 14px;
                    color: var(--orange);
                    font-weight: 500;
                    width: 99.5%;
                    background-color: #f169010c;
                    margin-bottom: 12px;
                    padding: 6px 0 6px 10px;

                    &:not(:first-child) {
                        margin-top: 2rem;
                        margin-bottom: 12px;
                    }
                }

                .div-input {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    padding: 12px 12px 12px;
                    position: relative;

                    .span-error {
                        position: absolute;
                        left: 19%;
                        top: 80%;
                        font-size: 12px;
                        color: var(--orange);
                    }

                    p {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;

                        label {
                            font-size: 13px;
                            width: 170px;
                            text-align: end;
                        }

                        input {
                            margin-left: 1.5rem;
                            width: 400px;
                            height: 36px;
                            border-radius: 5px;
                            background-color: var(--whitesmoke-500);
                            border: none;
                            padding: 0 10px 0 10px;
                        }

                        textarea {
                            width: 40%;
                            margin-left: 1.5rem;
                            border: 1px solid var(--whitesmoke-500);
                            border-radius: 6px;
                            padding: 8px;
                        }


                        .file-img {
                            width: 20%;
                            height: 60px;
                            border-radius: 5px;
                            background-color: rgba(82, 82, 255, 0.125);
                            margin-left: 1.5rem;
                            padding: 10px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            span {
                                text-align: center;
                                width: 100%;
                                font-size: 12px;
                            }

                            svg {
                                color: var(--whitesmoke-900);
                                font-size: 25px;
                                margin-bottom: 6px;
                            }

                            input {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                opacity: 0;
                            }

                        }

                        .btn-click {
                            font-size: 13px;
                            border: none;
                            color: var(--orange);
                            background: none;
                            margin-left: 20%;
                        }

                        .sizes {
                            display: flex;
                            align-items: center;

                            span {
                                padding: 2px 12px 2px 12px;
                                border: 1px solid var(--whitesmoke-500);
                                background-color: white;
                                border-radius: 6px;
                                margin-right: 10px;
                                cursor: pointer;
                            }
                        }

                        i {
                            font-size: 12px;
                            margin-left: 1rem;
                        }

                        .color {
                            width: max-content;
                            display: flex;
                            align-items: flex-end;

                            .block-input {
                                width: max-content;
                                display: flex !important;
                                flex-direction: column !important;

                                p {
                                    padding: 0% !important;
                                    width: max-content;
                                    display: flex;
                                    align-items: center;

                                    &:nth-child(even) {
                                        margin: 5px 0 5px;
                                    }

                                    input {
                                        width: 160px;
                                        margin-left: 0% !important;
                                    }

                                    .closes {
                                        font-size: 20px;
                                        color: var(--dark);
                                        padding: 5px;
                                        cursor: pointer;
                                    }

                                }
                            }

                            .add-input {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                float: none !important;
                                color: var(--orange);
                                width: 40px;
                                height: 35px;
                                border: none;
                                margin-left: 1rem;
                                cursor: pointer;
                                background-color: #f169013b;
                            }
                        }
                    }

                    .text-file-img {
                        width: 70%;
                        font-size: 12px !important;
                        color: var(--dark);
                        margin-left: 18%;
                        margin-top: 12px;
                    }


                    .div-categorie {
                        height: max-content;
                        width: max-content;
                        position: relative;
                        display: flex;
                        align-items: center;

                        label {
                            font-size: 14px;
                            text-align: end;
                            margin-right: 1.5rem;
                            width: 170px;
                        }

                        .select-categorie {
                            width: 423px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background-color: var(--whitesmoke-500);
                            height: 35px;
                            border-radius: 6px;
                            padding-left: 10px;
                            overflow: hidden;

                            p {
                                background-color: var(--orange);
                                height: 100%;
                                width: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                svg {
                                    font-size: 18px;
                                    color: white;
                                }
                            }
                        }

                        .ul1 {
                            width: 100%;
                            position: absolute;
                            display: none;

                            .nameCat {
                                border: 1px solid;
                            }

                            .ul2 {
                                width: 40%;
                                border: 1px solid;
                                position: absolute;
                                left: 100%;
                            }
                        }
                    }
                }

                .moyen-pay {
                    width: 100%;
                    margin-bottom: 10px;

                    .row-pay {
                        margin-left: 20%;
                        width: max-content;

                        .row-child {
                            margin-bottom: 1rem;
                            display: flex;
                            align-items: center;

                        }
                    }
                }

                .text-info {
                    width: 95%;
                    margin: 2rem auto;
                }

                .btn-update {
                    height: 33px;
                    border-radius: 5px;
                    padding: 0 1.2rem 0 1.2rem;
                    margin-top: 0rem;
                    border: none;
                    background: var(--orange-gradient);
                    color: white;
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.253);
                }
            }

            @include tablet {
                width: 800px;
            }
        }

        @include tablet {
            overflow-x: scroll;
        }
    }
    
    @include tablet {
        height: 100%;
    }
}

.cobeille-product {
    width: 100%;

    .block-parent {
        .list-product {
            .table-data {
                tbody {
                    tr {
                        td {
                            width: 25%;
                            
                            &:nth-child(1) {
                                width: 15% !important;
                            }

                            &:nth-child(4){
                                width: 30% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}