.product-dashboard-buyer {
    width: 100%;
    height: 100%;
    ;

    .orders {
        width: 98%;
        height: 90%;
        border-radius: 6px;
        padding: 12px 12px 0 12px;
        background-color: white;
        border-radius: 6px
    }
}