@import "../../../../globals/mixins.scss";

.msg-dashboard-buyer {
    width: 100%;
    height: 100%;
    position: relative;

    .message-block-parent {
        width: 98%;
        height: 85%;
        background-color: white;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 0 15px var(--box-shadow);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .head-block-msg {
            display: flex;
            align-items: center;
            padding: 6px;
            border-bottom: 1px solid var(--whitesmoke-500);
            margin-bottom: 1rem;

            button {
                border: none;
                font-size: 14px !important;
                color: var(--dark);
                margin-right: 12px;
                background: none;
            }
        }

        .block-message {
            width: 100%;

            .messages {
                width: 500px;

                .msg-box {
                    background-color: var(--whitesmoke-500);
                    padding: 5px;
                    border-radius: 8px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    padding: 8px 8px 8px 8px;
                    overflow: hidden;
                    cursor: pointer;

                    .head-msg {
                        width: 100%;
                        border-bottom: 1px solid var(--whitesmoke-500);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                         font-size: 13px;

                        .author {
                            width: max-content;
                            display: flex;
                            align-items: center;

                            svg {
                                font-size: 2rem;
                                color: var(--whitesmoke-900);
                                margin-right: 10px;
                            }

                            span {
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }

                    .info-msg {
                        font-size: 13px;
                    }

                    .msg {
                        font-size: 13px;
                        margin: 4px 0 0px;
                        color: var(--dark);
                        width: 20%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                }

                @include phone {
                    width: 97%;

                    .msg-box {
                        .head-msg {
                            flex-direction: column;
                            align-items: start;
                            span {
                                &:nth-child(2) {
                                   
                                }
                            }

                            li {
                                margin-left: 2.8rem;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .block-field-rep {
        width: 400px;
        background: white;
        position: absolute;
        bottom: 1%;
        right: 2%;
        border-radius: 6px;
        box-shadow: 0 0 15px var(--box-shadow);
        overflow: hidden;
        padding-bottom: 1rem;
        overflow: hidden;

        .close {
            position: absolute;
            top: -2%;
            right: 3%;
            font-size: 2rem;
            color: white;
            cursor: pointer;
        }

        h4 {
            width: 100%;
            padding: 5px 0 5px 10px;
            background-color: var(--orange);
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 1rem;
            color: white;
        }

        .msg {
            width: 90%;
            margin: auto;
            margin-bottom: 2rem;

            b {
                font-size: 13px;
            }

            p {
                font-size: 13px;
                color: var(--dark);
            }
        }

        .field {
            width: 90%;
            margin: auto;

            textarea {
                outline: none;
                width: 96%;
                height: 120px;
                border-radius: 6px;
                margin-bottom: 10px;
                padding: 6px;
                border: none;
                background-color: var(--whitesmoke-500);
            }

            button {
                font-size: 13px;
                height: 30px;
                width: 100px;
                border-radius: 3px;
                color: white;
                border: none;
                background: var(--orange-gradient);
            }
        }

        @include phone {
            width: 85%;
        }
    }

}