.box-checkboxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px !important;
    margin-bottom: 1rem;

    .box-child {
        width: 50px;
        height: 24px;
        display: block;
        position: relative;
        cursor: pointer !important;

        label {
            font-size: 13px;
            color: var(--dark);
            margin-left: 5rem;
        }

        input {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            z-index: 2000;

            &:checked+.slider {
                background: var(--orange2);
            }

            &:checked+.slider::before {
                transform: translateX(22px);
                -webkit-transform: translateX(22px);
                -ms-transform: translateX(22px);
            }
        }

        .slider {
            cursor: pointer;
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            background-color: var(--whitesmoke-500);
            border-radius: 30px;
            -webkit-transition: 0.4s;
            transition: 0.4s;

            &::before {
                position: absolute;
                left: 5px;
                content: "";
                height: 18px;
                width: 18px;
                border-radius: 50%;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }
        }
    }
}