.box-account {
    width: 230px !important;
    height: max-content !important;
    flex-direction: column;
    align-items: center;
    background: none;


    .bars {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        background: none;
        margin: 1rem 0 1.5rem;
        color: var(--white-300);
        div {
            width: 25%;
            height: 1px;
            background-color: var(--white-300);
        }
    }

    .groups-sociaux {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: none;

        a {
            img {
                width: 30px;
            }
        }
    }
}

