.first-section {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: space-around;
    background: var(--blue-gradient);

    .left-div {
        width: 40%;
        margin-left: 3rem;

        h6,
        h1 {
            color: var(--white);
        }

        h6 {
            font-size: 13px;
            margin-top: 10rem;
        }

        h1 {
            font-size: 35px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 1.5rem 0 1.2rem;
        }

        p {
            color: var(--dark);
            width: 90%;
            text-align: justify;
            margin-left: 1.2rem;

            &:last-child {
                display: flex;
                align-items: center;
                margin-top: 1.5rem;

                a {
                    font-size: 14px;
                    height: 50px;
                    width: 160px;
                    background-color: var(--red);
                    border-radius: 30px;
                    margin-right: 2rem;
                    color: var(--white);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                li {
                    font-size: 15px;
                    color: var(--dark);
                }
            }
        }
    }

    .right-div {
        width: 40%;
        height: 100%;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;

        img {
            position: absolute;

            &:nth-child(1) {
                width: 72%;
            }

            &:nth-child(2) {
                width: 100%;
                top: 10%;
            }
        }

        .cards {
            width: 32%;
            background-color: white;
            padding: 1.3rem;
            position: absolute;
            box-shadow: 0 0 20px rgba(22, 22, 149, 0.22);

            h3 {
                font-size: 16px;
                font-weight: 500;
            }

            p {
                font-size: 12px;
            }

            &:nth-child(3) {
                left: 0%;
                top: 65%;
            }

            &:nth-child(4) {
                right: 0%;
                bottom: 5%;
            }
        }
    }
}

.section-two {
    display: flex;
    justify-content: space-between;

    .div-pay-solution {
        width: 40%;
        display: flex;
        flex-direction: column;

        h2 {
            width: 100%;
        }

        .div-text-card {
            display: flex;
            width: 100%;
            margin-bottom: 1rem;

            div {
                width: 90%;
                display: flex;
                flex-direction: column;

                h4 {
                    font-size: 14px;
                    font-weight: 500;
                }

                p {}
            }
        }
    }

    .div-img {
        position: relative;

        img {
            width: 400px;
        }

        .cards-text-z {
            background-color: var(--violet);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: absolute;
            top: 50%;
            left: -0%;
            width: 50%;
            transform: translate(-50%, -50%);

            p {
                color: var(--white);
                margin: 8px 0 8px;
            }
        }
    }
}

.section-three {

    h2 {
        margin: auto;

        &::before {
            width: 15%;
            top: 105%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .group-card-s2 {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        row-gap: 8rem;

        .cards-s2 {
            width: 95%;
            padding: 5px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-bottom: 2rem;

            li {
                font-size: 13px;
                cursor: pointer;
            }

            img {
                position: absolute;
                width: 100px;
                transform: translate(-50%, -50%);
                left: 50%;
            }

            h5 {
                margin: 5rem 0 1rem;
            }

            p {
                font-size: 12px;
                margin-bottom: 2rem;
            }

            &:nth-child(1) {
                box-shadow: 0 2px 7px var(--red);
            }


            &:nth-child(2) {
                box-shadow: 0 2px 7px var(--dark);
            }


            &:nth-child(3) {
                box-shadow: 0 2px 7px var(--green);
            }


            &:nth-child(4) {
                box-shadow: 0 2px 7px var(--blues);
            }


            &:nth-child(5) {
                box-shadow: 0 2px 7px var(--green-200);
            }


            &:nth-child(6) {
                box-shadow: 0 2px 7px var(--yellow);
            }
        }
    }
}

.section-four {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 450px;
    }

    .div-right-s4 {
        display: flex;
        flex-direction: column;
        width: 40%;

        h2 {
            margin-bottom: 2rem;
        }

        p {
            font-size: 13px;
            margin-bottom: 1rem;
        }

        div {
            margin: 5px 0 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        button {
            width: max-content;
            padding: 0 1.6rem 0 1.6rem;
            height: 34px;
            border-radius: 4px;
            color: var(--white);
            background-color: var(--blue2);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }
    }
}

.section-five {
    .div-parent-back {
        width: 80%;
        height: 420px;
        background-color: var(--blue2);
        border-radius: 10px;
        display: flex;
        align-items: end;
        justify-content: end;
        position: relative;

        .img-girl {
            width: 350px;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
        }

        .div-z1 {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5rem;
            position: absolute;
            top: 20%;
            right: 0%;
            z-index: 1;

            h4,
            p {
                color: var(--white);
            }

            h4 {
                font-size: 15px;
                margin-bottom: 1rem;
                font-weight: 500;
            }

            p {
                font-size: 12px;
            }

            .group-card-s5 {
                display: flex;
                justify-content: space-between;
                margin-top: 2rem;

                .card-s5 {
                    padding: 1rem;
                    background-color: var(--white);
                    border-radius: 4px;
                    width: 26%;

                    h5 {
                        margin-bottom: 10px;
                    }

                    p {
                        color: var(--dark);
                    }
                }
            }
        }
    }
}

.section-six {
    h2 {
        margin: auto;

        &::before {
            width: 17%;
            top: 105%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .div-parent-s6 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;

        .div-left-s6 {
            width: 40%;
            display: flex;
            flex-direction: column;

            .block-div-s6 {
                box-shadow: 0 0 3px var(--red);
                div {
                    padding: 1.2rem;
                  
                    h4 {
                        font-size: 14px;
                        color: var(--dark);
                        margin-bottom: 12px;
                    }

                    p {
                        font-size: 13px;
                    }

                    &:nth-child(1) {
                        position: relative;

                        &::before {
                            content: "";
                            width: 80%;
                            height: 1px;
                            background-color: rgb(255, 175, 175);
                            position: absolute;
                            bottom: 0%;
                            left: 0%;
                        }
                    }
                }
            }

            button {
                background-color: var(--blue2);
                color: var(--white);
                padding: 0 1.6rem 0 1.6rem;
                height: 34px;
                border-radius: 4px;
                margin-top: 4rem;
                width: max-content;
                font-size: 15px;
            }
        }

        img {
            width: 400px;
        }
    }
}

.section-seven {
    .div-parent-s7 {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .div-left-s7 {
            width: 40%;
            display: flex;
            flex-direction: column;
            h2 {
                margin-bottom: 2rem;
            }

            p {
                width: 90%;
            }

            .stats {
                display: flex;
                justify-content: space-between;
                margin-top: 3rem;

                div {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        img {
            width: 450px;
        }
    }
}

