@import "../../../globals/mixins.scss";

.home-page {
    .section-one {
        width: 100%;
        height: 390px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .div1 {
            width: 77%;
            height: 100%;
            border-radius: 6px;
            background: var(--orange-gradient);
            display: flex;
            justify-content: space-between;
            padding: 1rem;

            .div1-child1 {
                width: 50%;
                height: 100%;

                img {
                    width: 90%;
                    margin-top: 3rem;
                    margin-left: 7rem;
                }

                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    color: white;

                    b {
                        color: var(--orange);
                        text-shadow: 0px 0 10px white;
                    }
                }

                span {
                    color: white;
                }
            }

            .div1-child2 {
                background-color: white;
                border-radius: 6px;
                width: 45%;
                height: 100%;
                display: flex;
                align-items: center;

                button {
                    background: white !important;
                    color: white !important;

                    span {
                        color: white !important;
                    }
                }

                div {
                    width: 100%;
                    height: 95%;
                    display: flex;
                    align-items: center;
                    margin: auto !important;

                    img {
                        margin: auto;
                        width: 70%;
                        height: 90%;
                    }
                }
            }
        }

        .div2 {
            border-radius: 6px;
            height: 80%;
            width: 17%;
            box-shadow: 0 0 5px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 1rem 10px 1rem 10px;

            button {
                height: 30px;
                width: max-content;
                border-radius: 30px;
                border: none;
                padding: 0 1.3rem 0 1.3rem;
                font-size: 14px;
            }

            .btn-connect {
                background: var(--orange-gradient);
                color: white;
                margin-top: 1.2rem;
                margin-bottom: 8px;
            }

            .btn-ins {
                margin-top: 8px;
                background: var(--whitesmoke-500);
                color: var(--dark);
            }

            .bar {
                width: 100%;
                height: 1px;
                background-color: var(--dark);
                margin: 2rem 0 2rem;
            }

            .btn-seller {
                background: green;
                color: white;
                margin-top: 1rem;
                height: 50px;
            }
        }

        @include tablet {
            height: 340px;
            .div2 {
                display: none;
            }

            .div1 {
                width: 96%;

                .div1-child1 {

                    h1 {
                        font-size: 25px;
                    }
                    img {
                        width: 90%;
                        margin-left: 2%;
                        margin-top: 5px;
                    }
                }

                .div1-child2 {
                    width: 50%;
                }
            }
        }

        @include small {
            width: 95%;
            height: 300px;
            .div1 {
                align-items: center;
                justify-content: center;
                .div1-child1 {
                    display: none;
                }

                .div1-child2 {
                    width: 95%;
                }
            }
        }
    }

    .section-two {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .title-section {
            display: flex;
            align-items: center;
        }

        li {
            font-weight: 500;
            display: flex;
            align-items: center;

            a {
                font-weight: 600;
                margin-right: 10px;
                color: var(--dark);
            }

        }


        .div-categorie {
            width: 100%;
            .div-img {
                margin: auto;
                width: 190px !important;
                transition: 0.7s;
                background: var(--smoke-gradient);

                .img {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 200px;

                    img {
                        width: 80px;
                        height: 80px;
                    }

                    h4 {
                        width: 80%;
                        text-align: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 13px;
                        font-weight: 400;
                        margin: 1rem auto;
                        color: var(--dark);
                    }
                }

                &:hover {
                    background: var(--smoke-inverse-gradient);
                }
            }
        }

        @include phone {
            .div-categorie {
                .div-img {
                    background: none !important;

                    .img {
                        h3 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .section-three {
        overflow: hidden;
        .section-head {
            justify-content: center;
        }

        .div-product {
            width: 100%;
            height: max-content;

            .prod-cards {
                .bande {
                    display: none !important;
                }
            }
        }
    }

    .section-four {
        overflow: hidden;
        .section-head {
            justify-content: center;
        }

        .div-shop {
            .card-shop {
                margin: auto;
                width: 290px;

                .img {
                    width: 100%;
                    height: 220px;

                    img {
                        width: 100%;
                    }
                }

                .foot {
                    display: flex;
                    align-items: baseline;

                    i {
                        margin-right: 10px;
                        font-size: 18px;
                    }

                    span {
                        font-size: 13px;
                        color: var(--dark);
                    }
                }
            }
        }
    }

    .section-six {
        background-image: url(../../../assets/images/svg/back.svg);
        .div-section-six {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 230px;
            background: var(--red-gradient);
            border-radius: 6px;
            

            h3 {
                font-size: 22px;
                color: white;
                margin: 1rem 0 2rem;
            }

            button {
                font-size: 15px;
                background: white;
                height: 32px;
                width: max-content;
                padding: 0 1rem 0 1rem;
                border: none;
            }

            @include small {
                h3 {
                    text-align: center;
                    width: 90%;
                }
            }
        }
    }

    .section-seven {
        display: flex;
        flex-direction: column;
    
        .centre-int {
            display: flex;
            justify-content: space-between;
    
            div {
                display: flex;
                align-items: center;
                box-shadow: 0 0 1px var(--dark);
                padding: 2px;
                border-radius: 6px;
                width: 23%;
    
                h4 {
                    font-size: 14px;
                    color: var(--dark);
                    font-weight: 400;
                    margin-left: 6px;
                    white-space: nowrap;
                }
    
                img {
                    width: 50px;
                }
    
            }

            @include tablet {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;

                div {
                    width: 95% ;
                }
            }

            @include small {
                grid-template-columns: repeat(1, 1fr
                );
            }
        }
    }
}